<div class="d-flex justify-content-end mb-4 ">
    <form method="GET" action="search_view" class="d-flex me-2" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    <form action="{% url 'export_to_excel' %}" method="get" class="me-2">
        <button type="submit" class="btn btn-primary"><i class="fa-regular fa-file-excel"></i></button>
    </form>
    <form action="{% url 'venue_pdf' %}" method="get" class="me-2">
        <button type="submit" class="btn btn-primary">
            <i class="fa-regular fa-file-pdf"></i>
        </button>
    </form>

</div>
